// placeholder color 
@mixin placeholder($color, $opacity: 1) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color;
    opacity: $opacity;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    opacity: $opacity;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color;
    opacity: $opacity;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    opacity: $opacity;
  }
}